.contato {
    width: 87vw;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--azul-claro);
}

.contato__conteudo {
    flex: 70%;
}

.contato__conteudo__lista__links  {
    padding-left: 0px;

}

.contato__conteudo__lista__links li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

@media  screen and (max-width: 1400px) {
    .contato__imagem {
        display: none;
    }

    .contato__conteudo{
        flex: 100%;
    }
}