.intro {
    gap: 1rem;
}

.intro__introducao {
    float: left;
}

.intro__introducao img{
    width: 25rem;
    height: auto;
    border-radius: 50%;
    
    float: left;
    margin-right: 10px;
    
}

.intro__lista {
    padding-left: 0;
}

.intro__lista__links{
    list-style-type: none;
    display: inline;
    margin-right: 5px;
}

.intro__lista__links a::after {
    content: "↗";
}

.intro__lista__links a {
    text-decoration: none;
    color: var(--fonte-link);
}

.intro__lista__links a:hover {
    text-decoration: underline;
}

.intro__lista__links a:visited {
    text-decoration: none;
    color: var(--fonte-cinza);
}

@media screen and (max-width:550px){
    .intro__introducao img {
        display: none;
    }
}